{% extends 'base.html' %}
{% load i18n %}
{% block title %}Watchlist - Main{% endblock %}
{% block content %}
<div class="page-content">
    <section id="last-add-serials" class="col-xs-12">
        <div class="last-item-wrapper">
             <div class="section-title col-xs-12">
                <div class="animated bounceInRight go">
                    <a href="{% url 'video:series' %}">{% trans 'TV Show' %}</a>
                </div>
            </div>
            <div class="title-bar">{% trans 'new episodes' %}
            </div>
            <div class="video-item-wrap-home">
                {% for i in series %}
                <div class="video-item">
                    <img class="wide-poster img-responsive" src="{{ i.picture.url }}" alt="">
                    <div class="bck2"></div>
                    <i class="fa fa-cogs video-settings" aria-hidden="true" data-toggle="modal" data-target="#item_{{ i.pk }}"></i>
                    <a class="bck" href="{% url 'video:video_detail' pk=i.video.id %}">
                        <span class="white-title" href="{% url 'video:video_detail' pk=i.pk %}">{{ i.get_title }}</span>
                    </a>
                </div>
                <div id="item_{{ i.pk }}" class="modal fade" role="dialog" tabindex="-1">
                    <div class="modal-dialog">
                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title detail-title">{{ i.original_title }}</h4>
                            </div>
                            <div class="modal-body">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section id="last-news" class="col-xs-12">
        <div class="section-title col-xs-12">
            <a href="{% url 'news:list_news' %}">{% trans 'news' %}</a>
        </div>
        {% for n in posts %}
        <figure class="snip1216">
            <div class="image"><img src="{{ n.main_picture.url }}" alt=""/></div>
            <figcaption>
                <div class="date"><span class="day">{{n.created_at.day}}</span><span class="month">{{n.created_at.month}}</span></div>
                <h3>{{ n.article }}</h3>
                <p class="">{{ n.description }}</p>
            </figcaption>
            <footer>
                <div class="views"><i class="fa fa-eye" aria-hidden="true"></i></div>
                <div class="love"><i class="fa fa-heart" aria-hidden="true"></i>{{ n.votes.likes.count }}</div>
                <div class="comments"><i class="fa fa-comment" aria-hidden="true"></i>  {{n.comments.all.count}}</div>
            </footer><a href="{% url 'news:post_detail' pk=n.pk %}"></a>
        </figure>
        {% endfor %}
        <div class="col-xs-12 text-center">
            <div class="btn-shiny">
                {% trans 'More News'%}
                <a href="{% url 'news:list_news' %}" class="overlay-link"></a>
            </div>
        </div>
    </section>
</div>
    {% if not user.is_authenticated %}
    {% include 'snippets/login_modal.html' %}
    {% endif %}
{% endblock %}