{% extends 'base.html' %}
{% load static i18n %}
{% block title %}{% endblock %}

{% block content %}
<div class="page-content">
    <div class="login-form logo">
        <img src="{% static 'media/images/lion.png' %}" class="img-responsive login-logo" alt="">
    </div>
    <div class="login-form title">
        {% trans 'Password Reset' %}
    </div>
    {% if messages %}
            {% for msg in messages %}
                <div class="{{ msg.tags }}">{{ msg }}</div>
            {% endfor %}
                <div class="">
                    <a href="{% url 'account:login' %}" class="btn btn-block btn-default">{% trans 'Back to login' %}</a>
                </div>
    {% else %}
    <div class="login-form">
        <form method="post" action="">
            {% csrf_token %}
            {% for field in form %}
                {{ field.errors }}
            <div class="form-group">
                {{ field }}
            </div>
            {% endfor %}
            <button type="submit" class="btn login-btn">{% trans 'Change Password'%}</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock %}