{% extends "base.html" %}
{% load i18n static %}


{% block content %}
<div class="page-content">
    <div class="login-form logo">
        <img src="{% static 'media/images/lion.png' %}" class="img-responsive login-logo" alt="">
    </div>
    <div class="login-form welcome">
        Welcome to Watchlist!
    </div>
    <div class="login-form">
    <form name="register" method="post">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <span class="">{{ field.errors }}</span>
            {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn login-btn">Log in</button>

    </form>

    <p><a href="{% url 'account:login' %}">Login</a> to my account!</p>
</div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
    </script>
{% endblock %}