{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <div class="page-content">
        <div class="col-md-4">
            <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {% for field in form %}
                    <div class="form-group {% if field.errors %}has-error{% endif %}">
                        {{ field.errors }}
                        {% if field.label %}<label for="id_{{ field.name }}">{{ field.label }}</label>{% endif %}
                        {{ field }}
                    </div>
                {% endfor %}
                <div class="shots">
                    {% for f in shots %}
                        <label for="id_{{ f.name }}" send-to="{% url "video:screen_upload" %}" class="btn btn-success">
                            <i class="fa fa-plus" aria-hidden="true"></i>
                            {{ f.name }}
                        </label>
                        <div id="shots-uploaded"></div>
                        <input type="file" id="id_{{ f.name }}" name="{{ f.name }}" multiple>
                    {% endfor %}
                    <div id="shot-progressbar" class="progress">
                        <div id="shots-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                        0%
                        </div>
                    </div>
                </div>
                <div class="season-controls">
                    <button type="button" class="btn btn-primary" add-data="season">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        {% trans 'Season' %}
                    </button>
                    <div class="seasons-switch"></div>
                </div>
                <div class="btn-section">
                    <button type="submit" class="btn btn-primary">Create</button>
                    <button type="button" class="btn btn-default">Leave</button>
                </div>
            </form>


        </div>
    </div>


{% endblock %}

{% block scripts %}
    <script>

    </script>
{% endblock %}