{% extends 'base.html' %}
{% load static i18n %}

{% block content %}
    <div class="page-content create-page">
        <div class="col-xs-12 col-md-6">
            <div class="detail-title col-xs-12">
                {% trans 'Create Video' %}
            </div>
            <form id="create-form" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-field">
                {% if field.label %}
                    <p><label class="btn btn-default" send-to="{% url 'video:screen_upload' %}" for="{{ field.id_for_label }}">{{ field.label }}</label></p>
                {% endif %}
                    {{ field.errors }}
                    {{ field }}
                </div>
                {% endfor %}
                <div class="shots" style="padding-left:60px;padding-right:60px">
                    <div id="shots-uploaded"></div>
                    <div id="shot-progressbar" class="progress">
                        <div id="shots-progress" class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">

                        </div>
                    </div>
                </div>
                <div class="season-controls">
                    <button type="button" class="btn btn-primary" add-data="season">
                        <i class="fa fa-plus" aria-hidden="true"></i>
                        {% trans 'Season' %}
                    </button>
                    <div class="seasons-switch"></div>
                </div>

                <div class="col-xs-12 submit-section" style="background: inherit;">
                    <button type="submit" class="btn-shiny submit">
                        {% trans 'Create'%}
                    </button>
                </div>
            </form>
        </div>
        <div class="col-xs-12 col-md-6">
            <div class="detail-title col-xs-12">
                {% trans 'Video Preview' %}
            </div>
            <div class="create-preview">

            </div>
        </div>
    </div>


{% endblock %}

{% block scripts %}
{% endblock %}