{% extends 'base.html' %}
{% load static video_extras i18n humanize%}

{% block title %}
   - {{ object.original_title }}
{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="">
            <div class="info col-xs-12">
                <p class="detail-title">{{ object.original_title }}</p>
            </div>
            <div class="col-sm-5 col-md-4 col-lg-4 clearfix">
                <div class="poster-grp">
                    <div class="poster">
                        <div class="poster-img">
                        <a href="{{ object.poster.url }}" class="picture-link">
                            <img src="{{ object.poster.url }}" class="poster-img img-responsive detail-poster" alt="">
                        </a>
                        </div>
                        {% if object.series_status %}
                            <div class="status-tag s-status {{ object.get_series_status_display|lower }}">
                                <span>{{ object.get_series_status_display }}</span>
                            </div>
                        {% endif %}

                        {% if in_list %}
                            <div class="status-tag {{ in_list.get_status_display|cut:' '|lower }}">
                                <span>{{ in_list.get_status_display }}</span>
                            </div>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <div id="my-videos" class="my-videos">
                            <form id="my_video_form" action="{% url 'video:watching' pk=object.pk %}" method="post">
                                {% csrf_token %}
                                {% for field in list_add_form %}
                                    <div class="form-group">
                                        <label class="col-xs-5" for="id_{{ field.name }}">{{ field.label }}:</label>
                                        <div class="col-xs-7">{{ field }}</div>
                                    </div>
                                {% endfor %}
                                <div class="btn-group">
                                    <button class="btn btn-success" type="submit">{% trans 'Add' %}</button>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                    </div>

                    <div class="poster-btn-grp btn-group">
                        <button class="btn btn-primary user-menu">{% trans 'My Videos' %}</button>
                    </div>

                    <div class="btn-group poster-btn-grp clearfix">
                        <button send-to="{% url 'video_like' pk=object.id %}" data-id="{{ object.id }}" data-action="like" class="btn btn-default like-btn up">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <span data-count="like">{{ object.votes.likes.count }}</span>
                        </button>
                        <button send-to="{% url 'video_dislike' pk=object.id %}" data-id="{{ object.id }}" data-action="dislike" class="btn btn-default like-btn down">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                            <span data-count="dislike">{{ object.votes.dislikes.count }}</span>
                        </button>
                    </div>

                    <div class="item-info">
                        <span class="item-key col-xs-4">{% trans 'Ratings' %}:</span>
                        <span class="item-value col-xs-8">{{ score }}</span>
                    </div>
                    <hr>
                    <div class="item-info">
                        <span class="item-key col-xs-4">{% trans 'Genres' %}:</span>
                        <span class="item-value col-xs-8">
                            {% for genre in object.genres.all %}
                                <a href="">{{ genre }}</a>
                            {% endfor %}

                        </span>
                    </div>
                     <div class="item-info">
                        <span class="item-key col-xs-4">{% trans 'Year' %}:</span>
                        <span class="item-value col-xs-8"></span>
                    </div>
                     <div class="item-info">
                        <span class="item-key col-xs-4">{% trans 'Runtime' %}:</span>
                        <span class="item-value col-xs-8"></span>
                    </div>
                     <div class="item-info">
                        <span class="item-key col-xs-4">{% trans 'Countries' %}:</span>
                        <span class="item-value col-xs-8"></span>
                    </div>
                </div>
            </div>

            <div class="screenshots col-xs-12 col-sm-7 col-md-8">
                {% for screen in object.shots.all %}
                    <a href="{{ screen.shot.url }}" class="item picture-link">
                        <img src="{{ screen.shot.url }}" alt="" class="detail-small-screen img-responsive">
                    </a>
                {% endfor %}
                <hr>
            </div>

            <div class="description-div col-xs-12 col-sm-7 col-md-8">
                <p class="item-key">{% trans 'Story' %}:</p>
                <p class="item-value">{{ object.description }}</p>
            </div>

            {% if object.seasons %}
            <div class="seasons col-md-8">
                <p class="item-key">{% trans 'Seasons' %}:</p>
                <ul id="row-tabs" class="nav nav-tabs" role="tablist">
                {% for s in object.seasons.all %}
                    <li class=""><a href="#s-block-{{ s.number }}" role="tab" data-toggle="tab" id="s{{s.number}}-switch" aria-controls="s-block-{{ s.number }}">{{ s.number }}</a></li>
                {% endfor %}
                </ul>

                <div class="tab-content">
                {% for s in object.seasons.all %}
                    <div role="tabpanel" class="tab-pane fade" id="s-block-{{ s.number }}">
                    {% for file in s.files.all %}
                    <div class="file-item">
                        <img class="img-responsive" src="{{ file.picture.url }}" alt="">
                        <span class="bck"></span>
                        <p class="item-key">{{ file.name }}</p>
                    </div>
                    {% endfor %}
                    </div>
                {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
        <div class="posts col-xs-12">
            <ul id="row-sub-content" class="nav nav-tabs" role="tablist">
                <li class=""><a href="#block-news" role="tab" id="news-switch" data-toggle="tab" aria-controls="block-news">{% trans 'Latest News' %}</a></li>
                <li class=""><a href="#block-comments" role="tab" id="comments-switch" data-toggle="tab" aria-controls="block-comments">{% trans 'Comments' %}</a></li>
            </ul>
            <div class="tab-content black">
                <div role="tabpanel" class="tab-pane fade" id="block-news">
                   {% for n in object.get_last_news %}
                        <figure class="snip1216">
                            <div class="image"><img src="{{ n.main_picture.url }}" alt=""/></div>
                            <figcaption>
                                <div class="date"><span class="day">{{n.created_at.day}}</span><span class="month">{{n.created_at.month}}</span></div>
                                <h3>{{ n.article }}</h3>
                                <p class="">{{ n.description }}</p>
                            </figcaption>
                            <footer>
                                <div class="views"><i class="fa fa-eye" aria-hidden="true"></i></div>
                                <div class="love"><i class="fa fa-heart" aria-hidden="true"></i>{{ n.votes.likes.count }}</div>
                                <div class="comments"><i class="fa fa-comment" aria-hidden="true"></i>  {{n.comments.all.count}}</div>
                            </footer><a href="{% url 'news:post_detail' pk=n.pk %}"></a>
                        </figure>
                    {% endfor %}
                </div>
                <div role="tabpanel" class="tab-pane fade" id="block-comments">
                    {% include 'snippets/comments.html' %}
                </div>
            </div>
        </div>
    </div>
    <footer>

    </footer>
    {% if not user.is_authenticated %}
    {% include 'snippets/login_modal.html' %}
    {% endif %}
{% endblock %}