{% extends 'base.html' %}
{% load static video_extras i18n humanize%}

{% block title %}
   - {{ object.original_title }}
{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="">
            <div class="info col-xs-12">
                <p class="video-title">{{ object.original_title }}</p>
            </div>
            <div class="col-xs-12 col-sm-5 col-md-4 col-lg-4 clearfix">
                <div class="poster-grp">
                    <div class="poster">
                        <a href="{{ object.poster.url }}" class="picture-link">
                            <img src="{{ object.poster.url }}" class="poster-img img-responsive detail-poster" alt="">
                        </a>

                        {% if object.series_status %}
                            <div class="status-tag s-status {{ object.get_series_status_display|lower }}">
                                <span>{{ object.get_series_status_display }}</span>
                            </div>
                        {% endif %}

                        {% if in_list %}
                            <div class="status-tag {{ in_list.get_status_display|cut:' '|lower }}">
                                <span>{{ in_list.get_status_display }}</span>
                            </div>
                        {% endif %}
                        {% if user.is_authenticated %}
                        <div id="my-videos" class="my-videos">
                            <form id="my_video_form" action="{% url 'video:watching' pk=object.pk %}" method="post">
                                {% csrf_token %}
                                {% for field in list_add_form %}
                                    <div class="form-group">
                                        <label class="col-xs-5" for="id_{{ field.name }}">{{ field.label }}:</label>
                                        <div class="col-xs-7">{{ field }}</div>
                                    </div>
                                {% endfor %}
                                <div class="btn-group">
                                    <button class="btn btn-success" type="submit">{% trans 'Add' %}</button>
                                </div>
                            </form>
                        </div>
                        {% endif %}
                    </div>

                    <div class="poster-btn-grp btn-group">
                        <button class="btn btn-primary user-menu">{% trans 'My Videos' %}</button>
                    </div>

                    <div class="btn-group poster-btn-grp clearfix">
                        <button send-to="{% url 'video_like' pk=object.id %}" data-id="{{ object.id }}" data-type="video" data-action="like" class="btn btn-default video-like-btn up">
                            <i class="fa fa-thumbs-up" aria-hidden="true"></i>
                            <span data-count="like">{{ object.votes.likes.count }}</span>
                        </button>
                        <button send-to="{% url 'video_dislike' pk=object.id %}" data-id="{{ object.id }}" data-type="video" data-action="dislike" class="btn btn-default video-like-btn down">
                            <i class="fa fa-thumbs-down" aria-hidden="true"></i>
                            <span data-count="dislike">{{ object.votes.dislikes.count }}</span>
                        </button>
                    </div>

                    <div class="item-info">
                        <span class="item-key col-xs-4">{% trans 'Ratings' %}:</span>
                        <span class="item-value col-xs-8">{{ score }}</span>
                    </div>
                    <hr>
                    <div class="item-info">
                        <span class="item-key col-xs-4">{% trans 'Genres' %}:</span>
                        <span class="item-value col-xs-8"></span>
                    </div>
                     <div class="item-info">
                        <span class="item-key col-xs-4">{% trans 'Year' %}:</span>
                        <span class="item-value col-xs-8"></span>
                    </div>
                     <div class="item-info">
                        <span class="item-key col-xs-4">{% trans 'Runtime' %}:</span>
                        <span class="item-value col-xs-8"></span>
                    </div>
                     <div class="item-info">
                        <span class="item-key col-xs-4">{% trans 'Countries' %}:</span>
                        <span class="item-value col-xs-8"></span>
                    </div>

                </div>
            </div>

            <div class="screenshots col-xs-12 col-sm-7 col-md-8">
                {% for screen in object.shots.all %}
                    <a href="{{ screen.shot.url }}" class="item picture-link">
                        <img src="{{ screen.shot.url }}" alt="" class="detail-small-screen img-responsive">
                    </a>
                {% endfor %}
                <hr>
            </div>

            <div class="description-div col-sm-7 col-md-8">
                <p class="item-key">{% trans 'Story' %}:</p>
                <p class="item-value">{{ object.description }}</p>
            </div>
        </div>
    </div>
    {% if not user.is_authenticated %}
    {% include 'snippets/login_modal.html' %}
    {% endif %}
{% endblock %}