.detail-poster {
  border-radius: 3px;
  cursor: default; }

.picture-link {
  cursor: default; }

.video-title {
  font-size: 26px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: 'Saira', sans-serif;
  font-weight: bold;
  margin: 0; }

.detail-small-screen {
  max-width: 150px;
  display: inline-block; }

.detail-description {
  font-size: 14px; }

.info {
  float: left; }

.info {
  padding-left: 15px; }

.screenshots {
  text-align: center;
  margin-top: 20px; }

.screenshots hr {
  margin-top: 20px; }

.screenshots .item {
  display: inline-block; }

span.video-like-btn {
  color: white !important;
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px; }

span.video-like-btn.up {
  background: #64b362; }

span.video-like-btn.down {
  background: #e65069; }

.poster {
  cursor: default;
  margin-top: 20px;
  max-width: 410px;
  display: inline-block;
  position: relative; }

.poster-grp {
  text-align: center; }
  .poster-grp:after {
    display: table;
    content: '';
    clear: both; }

.item-info {
  margin-top: 10px;
  padding: 0;
  display: inline-block;
  max-width: 410px;
  width: 100%;
  text-align: left; }

.poster-btn-grp {
  width: 100%;
  margin-top: 5px;
  max-width: 410px; }

.video-like-btn {
  width: 48%;
  transition: background 0.2s; }

.video-like-btn.up {
  float: left;
  margin-right: 8px; }
  .video-like-btn.up:hover {
    color: #fff;
    background: #64b362; }

.video-like-btn.down {
  float: right; }
  .video-like-btn.down:hover {
    color: #fff;
    background: #e65069; }

hr {
  margin-top: 5px;
  margin-bottom: 0px;
  border-top: 1px solid #ddd; }

.description-div {
  float: left;
  margin-top: 20px; }

.item-key {
  font-family: "Saira", sans-serif;
  font-size: 14px;
  font-weight: bold; }

.item-value {
  font-size: 13px;
  display: inline-block; }

.description-div .item-key {
  font-size: 17px;
  font-weight: normal; }

.user-menu {
  width: 100%; }

.my-videos {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  padding-top: 70px;
  background: rgba(0, 0, 0, 0.94); }

.my-videos .form-group {
  text-align: left;
  padding-left: 15px; }
  .my-videos .form-group:after {
    clear: both;
    content: '';
    display: table; }

.my-videos .form-group label {
  color: #fff;
  padding: 6px 12px;
  font-family: "Saira", sans-serif; }

.my-videos .form-group .form-control {
  height: 30px;
  outline: none;
  width: 150px;
  display: inline-block; }

#my_video_form:after {
  display: table;
  content: '';
  clear: both; }

#my_video_form .btn-group {
  width: 100%;
  padding-left: 30px;
  padding-right: 62px; }

#my_video_form .btn-group .btn {
  float: right; }

.status-tag {
  position: absolute;
  padding: 5px 10px;
  top: -10px;
  right: -10px;
  z-index: 5;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  font-family: 'Saira', sans-serif;
  font-size: 13px;
  user-select: none;
  text-align: center;
  width: 115px;
  -webkit-box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.75); }

.status-tag.watching {
  background: #ffd405; }

.status-tag.plantowatch {
  background: #6cd6d5; }

.status-tag.dropped {
  background: #c43a41; }

.status-tag.completed {
  background: #08d627; }

.status-tag.waitingfor {
  background: #e66211; }

.status-tag.onhold {
  background: #807e84; }

.serial-list .video-poster {
  height: 300px;
  width: 220px; }

.video-item {
  display: inline-block;
  max-width: 360px;
  margin-bottom: 15px;
  margin-right: 2px;
  position: relative;
  min-height: 180px;
  border-radius: 5px; }

.video-item-wrap-home {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px; }
  .video-item-wrap-home .video-item {
    min-width: 360px; }

.serial-list {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  position: relative; }

.pagi-nav {
  width: 100%;
  text-align: center; }

.video-item-wrap {
  text-align: left; }

#item-fast-info {
  position: absolute;
  padding-left: 15px;
  padding-right: 15px;
  height: 300px;
  border-radius: 10px;
  width: 480px;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
  display: none; }

.inner-info {
  background: #fff;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: inset 0px 0px 1px #2d2d2d;
  -moz-box-shadow: inset 0px 0px 1px #2d2d2d;
  box-shadow: inset 0px 0px 1px #2d2d2d; }

.title-bar {
  width: 100%;
  padding-left: 30px;
  font-size: 16px;
  text-transform: uppercase;
  font-family: Montserrat, serif; }

.fast-description {
  padding: 10px;
  float: left;
  text-align: left;
  font-size: 11px;
  height: 250px; }

.fast-rating {
  float: left;
  border-top: 1px solid #ddd; }

#item-fast-info > div > div.fast-rating.col-xs-12 > div {
  padding: 7px 0; }

.fast-rating .video-like-btn.down i {
  color: #e65069; }

.fast-rating .video-like-btn.up i {
  color: #64b362; }

.fast-rating .video-like-btn.down:hover i,
.fast-rating .video-like-btn.up:hover i {
  color: #fff; }

.bck {
  border-radius: 6px;
  z-index: 5;
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  transition: 0.4s background;
  background: rgba(0, 0, 0, 0.1);
  height: 100%; }

.bck:hover {
  background: rgba(0, 0, 0, 0.67); }

.bck2 {
  z-index: 1;
  background: rgba(0, 0, 0, 0.67);
  position: absolute;
  height: 100px;
  width: 100%;
  bottom: 0;
  left: 0;
  border-radius: 6px;
  background: -webkit-linear-gradient(bottom, rgba(255, 0, 0, 0), red);
  background: -o-linear-gradient(bottom, rgba(255, 0, 0, 0), red);
  background: -moz-linear-gradient(bottom, rgba(255, 0, 0, 0), red);
  background: linear-gradient(to bottom, rgba(255, 0, 0, 0), #000000); }

.white-title,
.white-title:hover,
.white-title:focus {
  text-decoration: none;
  color: #FFFFFF;
  z-index: 10;
  position: absolute;
  left: 15px;
  bottom: 5px;
  font-size: 18px;
  transition: 0.2s color; }

.bck > .play-icon > img {
  display: inline-block;
  height: 0;
  transition: .3s; }

.bck > .play-icon {
  display: block;
  position: relative;
  z-index: 1;
  margin-top: 120px;
  width: 100%;
  height: 0;
  visibility: hidden;
  transition: margin-top 0.3s; }

.bck:hover > .play-icon > img {
  height: 100px; }

.bck:hover > .play-icon {
  margin-top: 90px;
  visibility: visible; }

.bck > .fa {
  position: absolute;
  color: white; }
  .bck > .fa:hover {
    cursor: pointer;
    color: #3ec0e1; }

.bck .video-settings {
  right: 50px;
  top: 10px;
  font-size: 20px;
  opacity: 0;
  transition: .4s; }

.bck:hover .video-settings {
  opacity: 1;
  right: 10px; }

.video-item .wide-poster {
  width: 100%;
  border-radius: 6px; }

@media (max-width: 767px) {
  .serial-list .video-poster {
    height: 320px;
    width: 240px; } }

@media (min-width: 768px) and (max-width: 992px) {
  .serial-item-wrap {
    padding: 0 70px; }
  #item-fast-info {
    display: none !important; } }

.btn-section {
  display: block;
  width: 100%;
  text-align: right;
  padding: 10px;
  margin: 5px; }

.btn-section .btn {
  display: inline-block; }

.season-controls {
  margin-bottom: 5px;
  margin-top: 15px; }

.seasons-switch {
  padding-top: 10px;
  user-select: none; }

a.season-item {
  background: rgba(41, 118, 102, 0.83);
  width: 35px;
  margin-bottom: 3px;
  text-align: center;
  user-select: none !important; }

#id_shots {
  display: none; }

label[for='id_shots'] {
  display: inline-block;
  width: 100px; }

.progress {
  transition: 0s; }

.season-block {
  border-bottom: 1px solid tomato;
  margin-top: 5px; }

.select {
  position: relative;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 325px;
  color: #030204;
  vertical-align: middle;
  text-align: left;
  user-select: none;
  -webkit-touch-callout: none; }
  .select .placeholder {
    position: relative;
    display: block;
    background-color: #393d41;
    z-index: 1;
    padding: 1em;
    border-radius: 2px;
    cursor: pointer; }
    .select .placeholder:hover {
      background: #34383c; }
    .select .placeholder:after {
      position: absolute;
      right: 1em;
      top: 50%;
      transform: translateY(-50%);
      font-family: 'FontAwesome';
      content: '\f078';
      z-index: 10; }
  .select.is-open .placeholder:after {
    content: '\f077'; }
  .select.is-open ul {
    display: block; }
  .select.select--white .placeholder {
    background: #fff;
    color: #999; }
    .select.select--white .placeholder:hover {
      background: #fafafa; }
  .select ul {
    display: none;
    position: absolute;
    overflow: hidden;
    overflow-y: auto;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    top: 100%;
    left: 0;
    list-style: none;
    margin: 5px 0 0 0;
    padding: 0;
    z-index: 100;
    max-height: 120px; }
    .select ul li {
      display: block;
      text-align: left;
      padding: 0.8em 1em 0.8em 1em;
      color: #999;
      cursor: pointer; }
      .select ul li:hover {
        background: #4ebbf0;
        color: #fff; }

body {
  overflow-x: hidden;
  background: #020407; }

.container > .navbar-header,
.container > .navbar-collapse {
  margin: 0; }

a:hover,
a.active {
  color: #3ec0e1 !important;
  text-decoration: none;
  cursor: pointer; }

a:focus {
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

.errorlist {
  color: #ff3200;
  font-size: 12px;
  font-family: "Roboto", sans-serif; }

.container,
.container-fluid {
  padding: 0; }

.navbar {
  margin: 0px;
  border-radius: 0px; }

.reg-log {
  float: right; }

.reg-log a {
  font-size: 21px;
  float: left;
  display: block;
  padding: 10px 13px; }
  .reg-log a:hover {
    color: #fff; }

.navbar-brand {
  padding: 0px; }

.navbar-brand img {
  width: 50px;
  float: left; }

.navbar-brand span {
  font-family: "Satisfy", serif;
  font-size: 30px;
  float: left;
  padding: 15px;
  color: #3ec0e1; }

.mfp-fade.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8; }

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0; }

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out; }

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1; }

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0; }

.mfp-img {
  max-height: 600px !important; }

.page-content {
  padding-top: 10px;
  background: white; }
  .page-content:after {
    content: ' ';
    display: table;
    clear: both; }

.modal-login {
  width: 400px; }

.login-form {
  text-align: center;
  padding: 15px;
  margin: 0 auto;
  width: 350px; }

.login-logo {
  width: 100px;
  margin: 0 auto; }

.login-form.welcome {
  font-family: 'Satisfy', sans-serif;
  font-size: 30px;
  padding: 0; }

.login-btn {
  width: 100%;
  position: relative;
  background: #4ddbd2;
  border: none;
  height: 40px;
  margin-bottom: 15px; }

.login-btn:hover {
  background: #4bc5bc; }

.login-form p a,
.login-form p a:hover,
.login-form p a:focus {
  font-family: Consolas, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #47afc5;
  text-decoration: none; }

.login-btn .fa {
  position: absolute;
  left: 100px;
  font-size: 20px;
  margin-left: -12px;
  margin-right: 8px; }

.login-form p {
  text-align: center; }

.section-title {
  margin: 0;
  padding-left: 30px;
  width: 100%; }

.section-title a,
.section-title a:hover {
  color: #3ec0e1;
  text-transform: uppercase;
  font-size: 30px;
  font-family: Montserrat, serif;
  text-decoration: none;
  display: block; }

.last-item-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .last-item-wrapper:after {
    content: '';
    clear: both;
    display: table; }

.page-content.home-page {
  background: transparent; }

#last-add-cinema {
  margin-top: 20px; }

@media (max-width: 767px) {
  .info {
    text-align: center; }
  .poster-btn-grp {
    margin-top: 5px; }
  .video-like-btn.up {
    margin-right: 5px; }
  .info-line {
    margin-bottom: 10px; }
  .info-title {
    width: 60px;
    margin-top: 2px;
    margin-bottom: 2px;
    font-size: 15px; }
  .info-content {
    line-height: 1;
    margin-left: 0;
    display: inline; }
  .info-line .info-content .key {
    font-size: 13px;
    color: darkgray; }
  .info-line .info-content .value {
    font-size: 14px; }
  .stats {
    line-height: 20px; }
  .login-form {
    width: 250px; }
  .login-form.welcome {
    font-size: 25px; }
  .modal-login {
    margin: 0 auto; }
  #item-fast-info {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 992px) {
  .poster-btn-grp {
    margin-top: 5px; }
  .serial-list {
    padding: 15px; }
  .login-form {
    width: 300px; }
  .modal-login {
    width: 350px; }
  .page-content {
    padding: 0; }
  #video-list .video-list a {
    width: auto; }
  #item-fast-info {
    width: 480px; } }

@media (min-width: 992px) and (max-width: 1200px) {
  .user-menu {
    float: right; }
  #video-list .video-list a {
    width: auto; } }

@media (min-width: 1200px) {
  .user-menu {
    float: right; } }
