.posts-wrap
  width: 100%
  display: flex
  flex-wrap: wrap
  justify-content: center

.post-block
  border: 1px solid #dddddd
  margin-bottom: 15px
  height: 500px
  padding: 0
  margin-right: 50px

.news-poster
  padding: 0
.news-poster img
  max-width: 100%
  border-radius: 5px

.news-title .title
  font-family: Saira, sans-serif
  font-size: 17px
  text-align: center

.card
  margin-bottom: 15px

.card-header
  border: 1px solid #dddddd
  border-bottom: 0px
  margin: 0
  padding: 10px 15px
  background: #eae5e8
  border-radius: 5px 5px 0 0
.card-body
  padding: 20px
  border: 1px solid #dddddd
.create
  margin-bottom: 10px
.post
  margin-bottom: 10px
  border: 1px solid #dddddd
  padding: 15px
  border-radius: 8px
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75)
  -moz-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75)
  box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75)
.post .btn-group
  float: right

.post-detail
  padding: 15px

.post-detail img
  margin-bottom: 15px
.post-detail .description
  padding: 0 15px