.detail-poster
  border-radius: 3px
.original-title
  font-size: 26px
  font-family: 'Saira', sans-serif
  font-weight: bold
  margin: 0
.rus-title
  margin: 0
  font-size: 18px
  font-style: italic
  color: #a2a2a5
.detail-small-screen
  max-width: 150px
  display: inline-block
.detail-description
  font-size: 14px
.info
  float: left
.info
  padding-left: 30px
.screenshots
  -webkit-overflow-scrolling: touch
  margin-top: 20px
  float: left
.item-wrap
  display: flex
  flex-direction: row
  width: 100%
  justify-content: center
  flex-wrap: wrap


.picture-link,
.picture-link:focus
  outline: none

span.like-btn
  color: white!important
  display: inline-block
  padding: 6px 12px
  margin-bottom: 0
  font-size: 14px
  font-weight: normal
  line-height: 1.42857143
  text-align: center
  white-space: nowrap
  vertical-align: middle
  -ms-touch-action: manipulation
  touch-action: manipulation
  cursor: pointer
  -webkit-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none
  background-image: none
  border: 1px solid transparent
  border-radius: 4px

span.like-btn.up
  background: #64b362

span.like-btn.down
  background: #e65069

.poster
  margin-top: 20px

.like-grp
  width: 100%
  margin-top: 20px

.like-btn
  width: 48%
  transition: background 0.2s

.like-btn.up
  float: left
  margin-right: 8px
  &:hover
    color: #fff
    background: #64b362

.like-btn.down
  float: right
  &:hover
    color: #fff
    background: #e65069

.info-line
  display: block
  padding-left: 15px
  font-size: 16px

.info-line .info-content .key
  font-size: 14px
  color: darkgray

.info-line .info-content .value
  font-size: 16px


.info-title
  float: left
  width: 80px
  font-size: 15px
  font-family: "Roboto", sans-serif

.info-content
  line-height: 40px
  margin-left: 90px

hr
  border-top: 1px solid #ddd
  margin-top: 0
  margin-bottom: 10px

.item-info
  padding-left: 15px
  float: left

.info-link
  color: #30c2f2
  border-radius: 3px
  margin-bottom: 0px
  margin-right: 4px
  text-align: center
  display: inline-block

  font-size: 15px
  &:hover,
  &:focus
    text-decoration: none

.info-line:after
  clear: both
  display: block
  content: " "

.description-div
  float: left
  margin-top: 20px

.description-section
  font-family: "Roboto", sans-serif
  font-size: 20px

.file-section
  margin-top: 25px

.seasons-switch
  user-select: none

.season-item
  display: inline-block
a.season-item
  background: rgba(40,36,43,0.83)
  border-radius: 4px
  color: white
  padding: 5px 10px

div.season-item
  background: transparent!important
  color: black
  font-size: 18px

@media (max-width: 767px)
  .container
@media (min-width: 768px) and (max-width: 992px)
  .container

@media (min-width: 992px) and (max-width: 1200px)
  .container
@media (min-width: 1200px)
  .container