
@import '../../static/libs/fontawsome/scss/variables'
@import "_video_detail"
@import "_video_list"
@import "_video_add"
@import "_elems"
@import "_watchlist"
@import "_news_list"
@import "_profile"
// BASE SETTINGS
body
  overflow-x: hidden
  background: #020407!important

.container > .navbar-header,
.container > .navbar-collapse
  margin: 0

a:hover,
a.active
  color: #3ec0e1 !important
  text-decoration: none
  cursor: pointer
a:focus
  text-decoration: none

ul
  list-style: none!important
  padding: 0
  margin: 0
li.dropdown:nth-child(1) > a:nth-child(1)
  padding: 0 5px


.form-group input
  outline: none
  &:focus
    outline: none
.errorlist
  color: #ff3200
  font-size: 12px
  font-family: "Roboto", sans-serif

.container,
.container-fluid
  padding: 0


//NAVBAR SETTINGS
.navbar
  margin: 0px
  border-radius: 0px

.navbar-brand
  padding: 0px
.navbar-brand img
  width: 50px
  float: left
.navbar-brand span
  font-family: "Satisfy", serif
  font-size: 30px
  float: left
  padding: 15px
  color: #3ec0e1
  min-width: 137px
.nav-profile-pic
  padding: 5px!important
.nav-profile-pic img
  width: 40px!important
  border-radius: 50%
  margin: 0
// POPUP ANIMATION
.mfp-fade.mfp-bg
  opacity: 0
  -webkit-transition: all 0.15s ease-out
  -moz-transition: all 0.15s ease-out
  transition: all 0.15s ease-out

/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready
  opacity: 0.8

/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing
  opacity: 0


/* content at start */
.mfp-fade.mfp-wrap .mfp-content
  opacity: 0

  -webkit-transition: all 0.15s ease-out
  -moz-transition: all 0.15s ease-out
  transition: all 0.15s ease-out

/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content
  opacity: 1

/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content
  opacity: 0

.mfp-img
  max-height: 600px !important

.page-content
  padding-top: 10px
  padding-bottom: 10px
  background: rgb(255,255,255)
  &:after
    content: ' '
    display: table
    clear: both

.menu-link
  color: #fff!important

.reg-log
  float: right

.reg-log a
  display: inline-block
  font-size: 28px
  color: #fff
  padding: 5px 10px

.modal-login
  width: 400px
.login-form.title
  padding: 0 15px
  font-size: 24px
.reset-block
  background: #eeecec
  padding: 15px
  border-radius: 5px
.login-form
  text-align: center
  padding: 15px
  margin: 0 auto
  width: 350px
.login-logo
  width: 100px
  margin: 0 auto

.login-form.welcome
  font-family: 'Satisfy', sans-serif
  font-size: 30px
  padding: 0

.login-btn
  width: 100%
  position: relative
  background: #4ddbd2
  border: none
  height: 40px
  margin-bottom: 15px
.login-btn:hover
  background: #4bc5bc
.login-form p a, 
.login-form p a:hover,
.login-form p a:focus
  font-family: Consolas, sans-serif
  font-weight: bold
  font-size: 16px
  color: #47afc5
  text-decoration: none
.login-btn .fa
  position: absolute
  left: 100px
  font-size: 20px
  margin-left: -12px
  margin-right: 8px
  
.login-form p
  text-align: center

.section-title
  margin: 0
  padding-left: 30px
  width: 100%

.section-title a,
.section-title a:hover
  color: #3ec0e1
  text-transform: uppercase
  font-size: 30px
  font-family: Montserrat, serif
  text-decoration: none
  display: block


.last-item-wrapper
  display: flex
  flex-wrap: wrap
  justify-content: center
  &:after
    content: ''
    clear: both
    display: table

.page-content.home-page
  background: transparent
    //#020407

.messages
  position: relative

.messages .error
  background: #d63d50
  border-radius: 2px
  padding: 10px 35px
  position: relative

.messages .success
  background: #47b141
  border-radius: 2px
  padding: 10px 35px
  position: relative

.messages .fa-times
  position: absolute
  font-size: 18px
  right: 5px
  top: 5px
  color: #4f4f4f
  cursor: pointer



@media (max-width: 767px)
  .info
    text-align: center
  .poster-btn-grp
    margin-top: 5px

  .like-btn.up
    margin-right: 5px
  .info-line
    margin-bottom: 10px
  .info-title
    width: 60px
    margin-top: 2px
    margin-bottom: 2px
    font-size: 15px
  .info-content
    line-height: 1
    margin-left: 0
    display: inline

  .info-line .info-content .key
    font-size: 13px
    color: darkgray
  .info-line .info-content .value
    font-size: 14px
  .stats
    line-height: 20px
  .login-form
    width: 250px
  .login-form.welcome
    font-size: 25px
  .modal-login
    margin: 0 auto
  #item-fast-info
    display: none!important
  .col-xs-visible
    visibility: visible
    display: inline!important
@media (min-width: 768px) and (max-width: 992px)
  .poster-btn-grp
    margin-top: 5px
  .serial-list
    padding: 15px
  .login-form
    width: 300px
  .modal-login
    width: 350px
  .page-content
    padding: 0

  #video-list .video-list a
    width: auto
  #item-fast-info
    width: 480px
  ul.nav:nth-child(3)
    float: right
  li.dropdown:nth-child(1) > ul:nth-child(2)
    left: -95px
@media (min-width: 992px) and (max-width: 1200px)
  .user-menu
    float: right
  #video-list .video-list a
    width: auto
  ul.nav:nth-child(3)
    float: right
  li.dropdown:nth-child(1) > ul:nth-child(2)
    left: -95px
@media (min-width: 1200px)
  .user-menu
    float: right
  ul.nav:nth-child(3)
    float: right
  li.dropdown:nth-child(1) > ul:nth-child(2)
    left: -95px