{% extends 'base.html' %}
{% block title %}Create Post{% endblock %}
{% block content %}
    <div class="page-content">
        <div class="col-xs-12">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="id_{{ field.name }}">{{ field.label }}</label>
                    {{ field.errors }}
                    {{ field }}
                </div>
                {% endfor %}

                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}