{% load static i18n mytags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Add Video{% endblock %}</title>
    {% block head%} {% endblock %}
    <link rel="stylesheet" href="{% static 'css/libs.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/item.css' %}">

    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Saira" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Slab|Khula" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Baloo+Bhaijaan" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'media/lion.ico' %}">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'media/images/lion.png' %}" alt="">
                        <span>Watchlist</span>
                    </a>
                </div> <!-- navbar-header -->

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class=""><a class="{% active 'news:list_news' %} menu-link" href="{% url 'news:list_news' %}">{% trans 'News' %}</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle menu-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" {% active 'video:series' %}>{% trans "Video" %} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'video:movie' %}">{% trans "Movies" %}</a></li>
                                <li><a href="{% url 'video:series' %}">{% trans "Series" %}</a></li>
                                <li><a href="{% url 'video:animation' %}">{% trans "Animation" %}</a></li>
                                <li><a href="{% url 'video:animationseries' %}">{% trans "Aniseries" %}</a></li>
                            </ul>
                        </li>
                    </ul>
                    <!-- SEARCH -->
                    <form class="navbar-form navbar-left navbar-search clearfix" method="get" action="{% url 'search-result' %}">
                        <div class="form-group col-xs-9">
                          <input type="text" name="q" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-default col-xs-3">{% trans "Search" %}</button>
                    </form>

                    <!-- Login or menu button -->
                {% if not user.is_authenticated %}
                    <div class="reg-log">
                        <a href="{% url 'account:login' %}" class="{% active 'account:login' %}">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                        </a>
                        <a href="{% url 'account:registration' %}" class="{% active 'account:registration' %}">
                            <i class="fa fa-user-plus" aria-hidden="true"></i>
                        </a>
                    </div>
                {% else %}
                    <ul class="nav navbar-nav">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle nav-profile-pic" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <img class="" src="{{ user.profile.picture.url }}" alt="">
                                <span class="caret"></span>
                                <span class="hidden col-xs-visible user-name">{{ request.user }}</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'list:watchlist' username=user.username %}">{% trans 'Video List' %}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'video:add' %}">{% trans 'Add Video' %}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'profile' profile=user.username %}">{% trans 'Profile' %}</a></li>
                                <li><a href="{% url 'settings:profile' %}">{% trans 'Settings' %}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{% url 'account:logout' %}">{% trans 'Log out' %}</a></li>
                            </ul>
                        </li>
                    </ul>
                {% endif %}
                </div><!-- /.navbar-collapse -->
            </div>
        </nav> <!-- navbar -->
    </div> <!-- CONTAINER -->
    <div class="container-fluid page-wrap">
        <div class="container">
            {% block content %} {% endblock %}
        </div>
    </div>


<script src="{% static 'js/libs.min.js' %}"></script>
<script src="{% static 'js/common.js' %}"></script>
{% if not user.is_authenticated %}
    <script src="{% static 'js/login_modal.js' %}"></script>
{% endif %}
{% block scripts%} {% endblock %}
</body>
</html>